<ul class="menu-item">
	<!-- <li class="home site-title-font"><a href="/">{{ site.title }}</a></li> -->
	{% for link in site.data.navigation %}
    {% if link.url contains 'http' %}
        {% assign domain = '' %}
        {% else %}
        {% assign domain = site.url %}
    {% endif %}
    <li><a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a></li>
  {% endfor %}
  <li>
    <a target="_blank" href="http://instagram.com/weemovies"><i class="fa fa-large fa-instagram"></i></a>
  </li>
  <li>
    <a target="_blank" href="https://www.youtube.com/channel/UCMEqHKHBk-vDeVTT_GTHVMw"><i class="fa fa-large fa-youtube-square"></i></a>
  </li>
</ul>