
@font-face {
  font-family: 'FuturaBT-Light';
  src: url('../fonts/FuturaBT-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/FuturaBT-Light.otf')  format('opentype'),
       url('../fonts/FuturaBT-Light.woff') format('woff'), url('../fonts/FuturaBT-Light.ttf')  format('truetype'), url('../fonts/FuturaBT-Light.svg#FuturaBT-Light') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Book';
  src: url('../fonts/FuturaPT-Book.eot');
  src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Book.woff') format('woff'),
    url('../fonts/FuturaPT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Medium';
  src: url('../fonts/FuturaPT-Medium.eot');
  src: url('../fonts/FuturaPT-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Medium.woff') format('woff'),
    url('../fonts/FuturaPT-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Demi';
  src: url('../fonts/FuturaPT-Demi.eot');
  src: url('../fonts/FuturaPT-Demi.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Demi.woff') format('woff'),
    url('../fonts/FuturaPT-Demi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FuturaPT-Heavy';
  src: url('../fonts/FuturaPT-Heavy.eot');
  src: url('../fonts/FuturaPT-Heavy.eot?#iefix') format('embedded-opentype'),
    url('../fonts/FuturaPT-Heavy.woff') format('woff'),
    url('../fonts/FuturaPT-Heavy.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot');
  src: url('../fonts/HelveticaNeueLTCom-Bd.eot?#iefix') format('embedded-opentype'),
    url('../fonts/HelveticaNeueLTCom-Bd.woff') format('woff'),
    url('../fonts/HelveticaNeueLTCom-Bd.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet-light';
  src: url('../fonts/Chalet-ParisNineteenEighty.eot');
  src: url('../fonts/Chalet-ParisNineteenEighty.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Chalet-ParisNineteenEighty.woff') format('woff'),
    url('../fonts/Chalet-ParisNineteenEighty.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet-heavy';
  src: url('../fonts/Chalet-NewYorkNineteenEighty.eot');
  src: url('../fonts/Chalet-NewYorkNineteenEighty.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Chalet-NewYorkNineteenEighty.woff') format('woff'),
    url('../fonts/Chalet-NewYorkNineteenEighty.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Chalet';
  src: url('../fonts/Chalet-LondonNineteenEighty.eot');
  src: url('../fonts/Chalet-LondonNineteenEighty.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Chalet-LondonNineteenEighty.woff') format('woff'),
    url('../fonts/Chalet-LondonNineteenEighty.ttf') format('truetype');
  font-style: normal;
}


@font-face {
  font-family: 'GuardianEgyptianRegular';
  src: url('../fonts/GuardianEgyptianRegular.eot');
  src: url('../fonts/GuardianEgyptianRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GuardianEgyptianRegular.woff') format('woff'),
    url('../fonts/GuardianEgyptianRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'GuardianEgyptianBoldItalic';
  src: url('../fonts/GuardianEgyptianBoldItalic.eot');
  src: url('../fonts/GuardianEgyptianBoldItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GuardianEgyptianBoldItalic.woff') format('woff'),
    url('../fonts/GuardianEgyptianBoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'GuardianEgyptianBold';
  src: url('../fonts/GuardianEgyptianBold.eot');
  src: url('../fonts/GuardianEgyptianBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GuardianEgyptianBold.woff') format('woff'),
    url('../fonts/GuardianEgyptianBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'GuardianEgyptianRegularItalic';
  src: url('../fonts/GuardianEgyptianRegularItalic.eot');
  src: url('../fonts/GuardianEgyptianRegularItalic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GuardianEgyptianRegularItalic.woff') format('woff'),
    url('../fonts/GuardianEgyptianRegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'GuardianEgyptianLight';
  src: url('../fonts/GuardianEgyptianLight.eot');
  src: url('../fonts/GuardianEgyptianLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/GuardianEgyptianLight.woff') format('woff'),
    url('../fonts/GuardianEgyptianLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}


