/* ==========================================================================
   Tiles
   ========================================================================== */

.tile {
  @include outer-container;
  margin-bottom: $gutter*2;
  position: relative;

  @include media($micro) {
    @include fill-parent;
  }
  @include media(new-breakpoint(min-width em(600) max-width em(900) 12)) {
    @include span-columns(6);
    @include omega(2n);
    margin-bottom: $gutter;
  }
  @include media($medium) {
    @include span-columns(4);
    @include omega(3n);
    margin-bottom: $gutter*1.5;
  }
  time{
    display: none;
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,20);
    float: right;
    margin-top:15px;
  }
  .tile-heading{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999;
    color: white;
    text-align: center;
    padding: 0 $gutter;
  }
  .post-title {
    @include font-size(20,no);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .post-excerpt {
    @include font-size(18);
    margin-top:5px;
    font-family: $base-font;
    font-weight: 200;
    font-style: italic;
  }
  .post-teaser {
    position: relative;
    display: block;
  }

  .tile-img-wrapper:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(#000,0);
    pointer-events: none;
    @include transition(background 0.3s);
  }

  &:hover {
    .tile-img-wrapper:after {
      background: rgba(#000,0.4);
    }
  }

  .post-teaser:after{
    display: block;
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.03) 26%, rgba(0,0,0,0.4) 71%, rgba(0,0,0,0.5) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.03) 26%, rgba(0,0,0,0.4) 71%, rgba(0,0,0,0.5) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.03) 26%, rgba(0,0,0,0.4) 71%, rgba(0,0,0,0.5) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, transparent 1%, rgba(0,0,0,0.03) 26%, rgba(0,0,0,0.4) 71%, rgba(0,0,0,0.5) 100%);
  }
}

.wide-post{
  position: relative;
  cursor: pointer;
  display: block;

  &:after{
    content:'';
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom:0;
    background:rgba(0,0,0,0.3);
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
  }

  .post-image{
    position: relative;
    -webkit-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
    -moz-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
    -o-transition: width 0.15s ease-in-out, margin 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
    transition: width 0.15s ease-in-out, margin 0.15s ease-in-out, -webkit-filter 0.15s ease-in-out;
    width: 100%;
    display: block;
  }

  &:hover .post-image {
    // width: 102%;
    // margin-left: -1%;
    // margin-top: -0.5%;
    -webkit-filter: grayscale(1);
  }

  &:hover:after{
    background:rgba(0,0,0,0.5);
  }

  .wide-post-text{
    position: absolute;
    top:50%;
    width:100%;
    transform:translateY(-50%);
    color:white;
    text-align: center;
    z-index: 99;
  }

  .post-title{
    @include font-size(50,no);
    margin-bottom: 0;
    letter-spacing: 2px;
  }

  .post-subtitle{
    @include font-size(26);
    margin-top:5px;
    font-family: $base-font;
    font-weight: 200;
    font-style: italic;
  }
}

.modal-video-movie-wrap,
.modal-video{
  animation-name: none!important;
}
